<h2>Berufserfahrung</h2>

<div class="container">
    <div class="col-1">
        <div class="text-black">07/2020 - 12/2023</div>
        <div class="text-gray">Fresenius Digital Technology /</div>
        <div class="text-gray">Fresenius Medical Care</div>
    </div>
    <div class="col-2">
        <strong>Werkstudent im Bereich MES (Manufacturing Execution System)</strong>
        <div class="text-gray">Sankt Wendel - Front- und Backend Entwicklung mit Java und Angular,
            Softwaredokumentation und Qualitätssicherung, Devops</div>
    </div>
</div>
<div class="container">
    <div class="col-1">
        <div class="text-black">04/2019 - 08/2020</div>
        <div class="text-gray">Hochschule Trier</div>
    </div>
    <div class="col-2">
        <strong>Wissenschaftlicher Hilfsmitarbeiter</strong>
        <div class="text-gray">Hoppstädten-Weiersbach - Entwicklung und Wartung der Webseite für die
            Personalentwicklung der Hochschule Trier mit TYPO3</div>
    </div>
</div>
<div class="container">
    <div class="col-1">
        <div class="text-black">08/2019 - 03/2020</div>
        <div class="text-gray">NRML GmbH</div>
    </div>
    <div class="col-2">
        <strong>Praktikant im Bereich Frontend- und Backend Entwicklung</strong>
        <div class="text-gray">Sankt Wendel - Front- und Backend Entwicklung mit Angular, HTML, CSS und PHP, Einführung von Continuous Integration,
            Server Administration, Testautomatisierung</div>
    </div>
</div>
<div class="container">
    <div class="col-1">
        <div class="text-black">08/2018 - 08/2019</div>
        <div class="text-gray">Marienhaus Diensleistungen GmbH</div>
    </div>
    <div class="col-2">
        <strong>Softwaretester</strong>
        <div class="text-gray">Illingen - Durchführung von Softwaretests, Erstellung von Testfällen,
            Dokumentation von Fehlern</div>
    </div>
</div>

<style>
    .container {
        display: grid;
        grid-gap: 5%;
        margin: 1em 0;
    }

    .col-1 {
        grid-column: 1 / 1;
        grid-row: row ;
        width: 14vw;
    }
    .col-2 {
        grid-column: 3 / 4;
        grid-row: row ;
    }
    .text-black {
        color: #000;
    }
    .text-gray {
        color: #727171;
    }
    @media (max-width: 720px) {
        .container {
            display: block;
            margin-bottom: 2em;
        }
        .col-1 {
            width: 100%;
        }
    }
</style>