---
import SkillBubble from "../SkillBubble.astro";
---

<h2>Fähigkeiten</h2>

<br>
<h3>Top-Skills</h3>
<SkillBubble text="Java" />
<SkillBubble text="Spring Boot" />
<SkillBubble text="TypeScript" />
<SkillBubble text="Angular" />
<SkillBubble text="React" />
<SkillBubble text="HTML5" />
<SkillBubble text="CSS3" />
<SkillBubble text="PostgreSQL" />

<br><br>
<h3>Skills</h3>
<SkillBubble text="C#" />
<SkillBubble text="PHP" />
<SkillBubble text="Linux" />
<SkillBubble text="Vue.js" />
<SkillBubble text="Next.js" />
<SkillBubble text="Testing" />
<SkillBubble text="Cypress" />
<SkillBubble text="CI/CD" />
<SkillBubble text="GitLab" />
