<div></div>

<style>
    div {
        width: 1280px;
        height: 720px;
        margin: 0;
        // background: linear-gradient(140deg, rgb(9, 171, 241), rgb(5, 105, 148), rgb(4, 84, 118), rgb(6, 119, 167));
        // background: linear-gradient(140deg, rgb(241 160 61), rgb(192 74 65),  rgb(115, 52, 52));
        // background: linear-gradient(to right bottom, #2be7b5, #1edea2, #16d58f, #13cb7c, #16c268, #0db866, #04ae64, #00a462, #00976c, #008971, #007b72, #006d6d);
        background: linear-gradient(140deg, rgb(165, 142, 251), rgb(65, 206, 189));
        // background: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%);
        // background: linear-gradient(135deg, #54D2EF 0%, #2AA6DA 100%);
        // background: linear-gradient(-45deg, rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%);
        // background: linear-gradient(135deg, #6a3cc0 0%, #240573 100%);


    }
</style>