---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🛠️ Meine Projekte</h1>
			<p>
				Herzlich Willkommen auf meiner persönlichen Webseite. Sie finden hier eine Übersicht über aktuelle Projekte.
			</p>
			<p>Hier sehen Sie, wie man auf einer HTML-Seite Code einbaut.</p>
			<code>npm install</code>
		</main>
		<Footer />
	</body>
</html>