---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Projects from "../components/Projects.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header title={SITE_TITLE}/>
<main>
    <h1><span id="project-icon">🛠️</span> Meine Projekte</h1>
    <p>
        Herzlich Willkommen auf meiner persönlichen Webseite. Sie finden hier eine Übersicht über aktuelle Projekte.
    </p>

    <Projects />

</main>
<Footer/>
</body>
<style>
    main {
        width: 1280px;
    }
    main h1, p {
        text-align: center;
    }
    @media(max-width: 500px) {
        #project-icon {
            display: none;
        }
    }
</style>
</html>

