---
import XingIcon from "./Icons/XingIcon.astro";
import LinkedinIcon from "./Icons/LinkedinIcon.astro";
import GithubIcon from "./Icons/GithubIcon.astro";
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} Maik Kreutzer
    <div class="social-links">
        <a href="https://linkedin.com/in/maik-kreutzer-889a79197" target="_blank">
            <span class="sr-only">Go to Astro's GitHub repo</span>
            <LinkedinIcon/>
        </a>
        <a href="https://www.xing.com/profile/Maik_Kreutzer/cv" target="_blank">
            <span class="sr-only">Go to Astro's GitHub repo</span>
            <XingIcon/>
        </a>
        <a href="https://github.com/kreutzermaik" target="_blank">
            <span class="sr-only">Go to Astro's GitHub repo</span>
            <GithubIcon/>
        </a>
    </div>
</footer>
<style>
    footer {
        padding: 2em 1em 6em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }

    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }

    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
